server:
  servlet:
    context-path: /lts-roster-management
    session:
      timeout: 540m

spring:
  config:
    import: optional:configtree:/run/secrets/
  datasource:
    url: ${db.url}
    username: ${db.user}
    password: ${db.pass}
  jpa:
    database: mysql
    hibernate:
      ddl-auto: none
    open-in-view: false
  mvc:
    servlet:
      load-on-startup: 1
  profiles:
    active: local

ltitool:
  baseUrl: https://localhost
  boomi:
    apiToken: ${boomi.apiToken}
    url: ${boomi.apiUrl}
  canvas:
    apiUrl: ${canvas.apiUrl}
    apiToken: ${canvas.apiToken}
    apiTimeout: 15
