<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="validate">
    <input type="hidden" th:field="*{sectionsToAdd}"/>
    <input type="hidden" th:field="*{sectionsToKeep}"/>
    <input type="hidden" th:field="*{waitlistsToAdd}"/>
    <h2 th:text="#{validate.header}">Please confirm the following changes to your course site:</h2>
    <h3 th:text="#{validate.addSections.header}">Add sections:</h3>
    <div id="validateAddSections"></div>
    <ul>
        <li th:each="section : ${sectionsToAdd}"
            th:text="#{validate.addSections.section(${section.sisSectionId}, ${section.totalStudents})}"></li>
    </ul>
    <h3 th:text="#{validate.removeSections.header}">Remove sections:</h3>
    <div id="validateRemoveSections"></div>
    <ul>
        <li th:each="section : ${sectionsToRemove}"
            th:text="#{validate.removeSections.section(${section.sisSectionId}, ${section.totalStudents})}"></li>
    </ul>
    <h3 th:text="#{validate.addWaitlists.header}">Include waitlists:</h3>
    <div id="validateAddWaitlists"></div>
    <ul>
        <li th:each="section : ${waitlistedSectionsToAdd}"
            th:text="#{validate.addWaitlists.section(${section.sisSectionId})}"></li>
    </ul>
    <h3 th:text="#{validate.removeWaitlists.header}">Remove waitlists:</h3>
    <div id="validateRemoveWaitlists"></div>
    <ul>
        <li th:each="section : ${waitlistedSectionsToRemove}"
            th:text="#{validate.removeWaitlists.section(${section.sisSectionId})}"></li>
    </ul>
    <div class="mt-4">
        <a id="previous-button" class="btn btn-primary" th:text="#{index.previousButton}"
           onclick="showWaitlistsTab()">Previous</a>
        <button id="save-button" type="submit" class="btn btn-primary" th:text="#{index.saveButton}">Save</button>
    </div>
</div>
</body>
</html>