<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="validate">
    <input type="hidden" th:field="*{sectionsToAdd}"/>
    <input type="hidden" th:field="*{sectionsToKeep}"/>
    <input type="hidden" th:field="*{waitlistsToAdd}"/>
    <h2 id="validateHeader" tabindex="-1" th:text="#{validate.header}">Please confirm the following changes to
        your course site:</h2>
    <div id="noChanges">
        <p th:text="#{validate.noChanges}">No changes to your course site were detected.</p>
    </div>
    <div id="validateAddSections">
        <h3 th:text="#{validate.addSections.header}">Add sections:</h3>
        <div id="validateAddSectionsList"></div>
    </div>
    <div id="validateRemoveSections">
        <h3 th:text="#{validate.removeSections.header}">Remove sections:</h3>
        <div id="validateRemoveSectionsList"></div>
    </div>
    <div id="validateAddWaitlists">
        <h3 th:text="#{validate.addWaitlists.header}">Include waitlists:</h3>
        <div id="validateAddWaitlistsList"></div>
    </div>
    <div id="validateRemoveWaitlists">
        <h3 th:text="#{validate.removeWaitlists.header}">Remove waitlists:</h3>
        <div id="validateRemoveWaitlistsList"></div>
    </div>
    <div id="validateAdditionalDetails">
        <h3 th:text="#{validate.additionalDetails.header}">Additional details</h3>
        <ul>
            <li th:text="#{validate.emptyCourseRemoval}">Remove self from empty courses</li>
        </ul>
    </div>
    <div class="mt-4">
        <button id="previousButtonValidate" class="btn btn-primary" th:text="#{index.previousButton}"
                type="button" onclick="showEmptyCourseRemovalTab(this.id)">Previous
        </button>
        <button id="save-button" type="submit" class="btn btn-primary" th:text="#{index.saveButton}">Save</button>
    </div>
</div>
</body>
</html>