.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #0645AD !important;
}

.form-check-input:focus {
  /* RGB(6, 69, 173) is equal to #0645AD */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%6, 69, 173, 0.25%29'/%3e%3c/svg%3e");
}

.form-check-input:checked {
  background-color: #0645AD !important;
}