body {
  padding: 15px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #232D4B !important;
}

.form-check-input {
  border-color: #232D4B !important;
}

.form-check-input:checked {
  background-color: #232D4B !important;
}