<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="fragments/head :: head"></div>
    </head>

    <body>
        <div th:replace="fragments/header :: header"></div>
        <h2>The following changes were made to your course:</h2>
        <div th:unless="${#lists.isEmpty(sectionsToAdd)}">
            <h3>Sections added:</h3>
            <ul>
                <li th:each="section : ${sectionsToAdd}" th:inline="text">
                    [[${section.sisSectionId}]]
                </li>
            </ul>
        </div>
        <div th:unless="${#lists.isEmpty(sectionsToRemove)}">
            <h3>Sections removed:</h3>
            <ul>
                <li th:each="section : ${sectionsToRemove}" th:inline="text">
                    [[${section.sisSectionId}]]
                </li>
            </ul>
        </div>
        <div th:unless="${#lists.isEmpty(waitlistedSectionsToAdd)}">
            <h3>Waitlists included:</h3>
            <ul>
                <li th:each="section : ${waitlistedSectionsToAdd}" th:inline="text">
                    [[${section.sisSectionId}]]
                </li>
            </ul>
        </div>
        <div th:unless="${#lists.isEmpty(waitlistedSectionsToRemove)}">
            <h3>Waitlists removed:</h3>
            <ul>
                <li th:each="section : ${waitlistedSectionsToRemove}" th:inline="text">
                    [[${section.sisSectionId}]]
                </li>
            </ul>
        </div>
        <div th:unless="${#lists.isEmpty(sectionsToAddErrors) && #lists.isEmpty(sectionsToRemoveErrors)}">
            <h3>The following errors occurred:</h3>
            <ul>
                <li th:each="section : ${sectionsToAddErrors}" th:inline="text">
                    Error adding [[${section.sisSectionId}]] to the course.
                </li>
                <li th:each="section : ${sectionsToRemoveErrors}" th:inline="text">
                    Error removing  ([[${section.sisSectionId}]]) from the course.
                </li>
            </ul>
        </div>
        <button th:onclick="'window.location.href = \'' + @{/launch} + '\''" class="btn btn-primary">Reload Page</button>
    </body>
</html>
