<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head :: head"></div>
</head>

<body>
  <span id="sr-text" class="visually-hidden" aria-live="assertive"></span>
  <div th:replace="fragments/header :: header"></div>
  <form action="#" th:action="@{/apply-changes}" th:object="${sectionManagementForm}" method="post">
    <input type="hidden" th:field="*{sectionsToAdd}"/>
    <input type="hidden" th:field="*{sectionsToKeep}"/>
    <input type="hidden" th:field="*{waitlistsToAdd}"/>
    <h2 th:text="#{validate.header}">Please confirm the following changes to your course site:</h2>
    <div th:unless="${#lists.isEmpty(sectionsToAdd)}">
      <h3 th:text="#{validate.addSections.header}">Add sections:</h3>
      <ul>
        <li th:each="section : ${sectionsToAdd}" th:text="#{validate.addSections.section(${section.sisSectionId}, ${section.totalStudents})}"></li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(sectionsToRemove)}">
      <h3 th:text="#{validate.removeSections.header}">Remove sections:</h3>
      <ul>
        <li th:each="section : ${sectionsToRemove}" th:text="#{validate.removeSections.section(${section.sisSectionId}, ${section.totalStudents})}"></li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(waitlistedSectionsToAdd)}">
      <h3 th:text="#{validate.addWaitlists.header}">Include waitlists:</h3>
      <ul>
        <li th:each="section : ${waitlistedSectionsToAdd}" th:text="#{validate.addWaitlists.section(${section.sisSectionId})}"></li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(waitlistedSectionsToRemove)}">
      <h3 th:text="#{validate.removeWaitlists.header}">Remove waitlists:</h3>
      <ul>
        <li th:each="section : ${waitlistedSectionsToRemove}" th:text="#{validate.removeWaitlists.section(${section.sisSectionId})}"></li>
      </ul>
    </div>
    <div th:if="${#lists.isEmpty(sectionsToAdd) and #lists.isEmpty(sectionsToRemove) and #lists.isEmpty(waitlistedSectionsToAdd) and #lists.isEmpty(waitlistedSectionsToRemove)}">
      <p th:text="#{validate.noChanges}">No changes to your course site were detected.</p>
    </div>
    <a id="cancelButton" th:href="@{/launch}" class="btn btn-primary" th:text="#{validate.cancelButton}">Cancel</a>
    <button th:unless="${#lists.isEmpty(sectionsToAdd) and #lists.isEmpty(sectionsToRemove) and #lists.isEmpty(waitlistedSectionsToAdd) and #lists.isEmpty(waitlistedSectionsToRemove)}"
            id="formSubmitButton" type="submit" class="btn btn-primary ml-2" th:text="#{validate.saveButton}">Save</button>
  </form>
</body>
</html>