<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head :: head"></div>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>
  <form action="#" th:action="@{/apply-changes}" th:object="${sectionManagementForm}" method="post">
    <input type="hidden" th:field="*{sectionsToAdd}"/>
    <input type="hidden" th:field="*{sectionsToKeep}"/>
    <input type="hidden" th:field="*{waitlistsToAdd}"/>
    <h4>Please confirm the following changes to your course site:</h4>
    <div th:unless="${#lists.isEmpty(sectionsToAdd)}">
      <h6>Sections being added:</h6>
      <ul>
        <li th:each="section : ${sectionsToAdd}" th:inline="text">
          [[${section.sisSectionId}]] - [[${section.totalStudents}]] students
        </li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(sectionsToRemove)}">
      <h6>Sections being removed:</h6>
      <ul>
        <li th:each="section : ${sectionsToRemove}" th:inline="text">
          [[${section.sisSectionId}]] - [[${section.totalStudents}]] students
        </li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(waitlistedSectionsToAdd)}">
      <h6>Waitlists will be enabled for the following sections:</h6>
      <ul>
        <li th:each="section : ${waitlistedSectionsToAdd}" th:inline="text">
          [[${section.sisSectionId}]]
        </li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(waitlistedSectionsToRemove)}">
      <h6>Waitlists will be disabled for the following sections:</h6>
      <ul>
        <li th:each="section : ${waitlistedSectionsToRemove}" th:inline="text">
          [[${section.sisSectionId}]]
        </li>
      </ul>
    </div>
    <div th:unless="${#lists.isEmpty(sectionsToAdd)}">
      <input id="remove-from-course" type="checkbox" th:field="*{removeFromCourse}" class="form-check-input"/>
      <label for="remove-from-course" class="form-check-label">Remove me from previous courses for added SIS sections</label>
      <p>Selecting this option will remove you from the following courses:</p>
      <ul>
        <li th:each="course : ${coursesToRemoveUserFrom}" th:inline="text">
          <strong>[[${course.name}]]</strong> ([[${course.courseCode}]])
        </li>
      </ul>
    </div>
    <div th:if="${#lists.isEmpty(sectionsToAdd) and #lists.isEmpty(sectionsToRemove) and #lists.isEmpty(waitlistedSectionsToAdd) and #lists.isEmpty(waitlistedSectionsToRemove)}">
      <p>No changes to your course site were detected.</p>
    </div>
    <a id="cancelButton" th:href="@{/launch}" class="btn btn-primary">Cancel</a>
    <button th:unless="${#lists.isEmpty(sectionsToAdd) and #lists.isEmpty(sectionsToRemove) and #lists.isEmpty(waitlistedSectionsToAdd) and #lists.isEmpty(waitlistedSectionsToRemove)}"
            id="formSubmitButton" type="submit" class="btn btn-primary ml-2">Save</button>
  </form>
</body>
</html>