<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head :: head"></div>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>
  <h4>Please confirm the following changes to your course site:</h4>
  <h6>Sections being added:</h6>

  <h6>Sections being removed:</h6>

  <h6>Since you clicked the remove checkbox, you will be removed from the following course sites as a Teacher due to them having no more SIS Rosters:</h6>
</body>
</html>