<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="fragments/head :: head"></div>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<form action="#" th:action="@{/validate}" th:object="${sectionManagementForm}" method="post">
  <input type="hidden" th:field="*{sectionsToAdd}"/>
  <input type="hidden" th:field="*{sectionsToKeep}"/>
  <h2 th:text="#{waitlists.header}">Manage Waitlisted Students</h2>
  <p th:text="#{waitlists.description1}">Select sections to add any waitlisted students in the corresponding rosters to the course site. Deselect sections to remove the waitlisted students.</p>
  <p th:text="#{waitlists.description2}">Changes to add or remove waitlisted students will be reflected in the course site within two hours.</p>
  <input id="selectAllSectionsForWaitlistsButton" type="checkbox" onclick="selectAllSectionsForWaitlists()" class="form-check-input"/>
  <label for="selectAllSectionsForWaitlistsButton" class="form-check-label" th:text="#{waitlists.addAllButton}">Add waitlisted students for all sections</label>
  <ul>
    <li class="form-check" th:each="section : ${waitlistStatusForSections}">
      <input th:id="'waitlist-section-input-' + ${section.getSisSectionId}" type="checkbox"
             th:field="*{waitlistsToAdd}" th:value="${section.getSisSectionId}" class="form-check-input"/>
      <label th:for="'waitlist-section-input-' + ${section.getSisSectionId}" class="form-check-label"
             th:attr="aria-label=#{waitlists.sectionAriaLabel(${section.getSisSectionId}, ${section.numberOfWaitlistStudents})}"
             th:text="#{waitlists.sectionLabel(${section.getSisSectionId}, ${section.numberOfWaitlistStudents})}"></label>
    </li>
  </ul>
  <a id="backButton" th:href="@{/launch}" class="btn btn-primary" th:text="#{waitlists.backButton}">Back</a>
  <button id="formSubmitButton" type="submit" class="btn btn-primary ml-2" th:text="#{waitlists.continueButton}">Continue</button>
</form>
</body>
</html>
